build
dist / media
node_modules
.DS_Store
.env
.next
next-env.d.ts
.vercel

# Payload default media upload directory
public/media/*
!public/media/enterprise-team.webp
!public/media/energy-dashboard.webp
!public/media/case-energy.webp
!public/media/case-enterprise.webp
!public/media/case-ai.webp

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
